.black-bar{
    background-color:black;
    display: flex;
    flex-direction: row-reverse;
}

.sticky-nav{
    position: sticky;
    z-index: 1001;
    top: 0;
    background: white;
    position: -webkit-sticky;
    web
}


.sony-logo{
    width: 100px;
    margin: 12px 0px;
}

.sony-logo img{
    width: 100%;
}

.nav-link .fas{
    font-size: 10px;
    color: grey;
    margin-left: 2px;
}

.nav-item{
    font-size: 18px;
    color: black;
}

.txt-item{
    color: black;
}

.search-icon .fas{
    font-size: 28px;
    color: black;
}

header{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 480px;
}

.button-slm{
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    background-color: #C33D0E;
    text-decoration: none;
    border: none;
}

.content-header p{
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.content-header h1{
    color: white;
}

.content-header .logo-text{
    width: 480px;
}

.logo-text img{
    width : 70%;
    padding-bottom: 30px
}

.content-header h1{
    padding-bottom: 20px;
}

.content-header p{
    padding-bottom: 20px;
}

.box-img img{
    width: 100%;
}

.grid-img{
    padding-top: 25px;
}

.box-img{
    border-radius: 20px;
    border: 2px #fff solid;
}

.box-img-inner{
    border-radius: 20px;
    border: 2px #fff solid;
    overflow: hidden;
}

.box-img:hover{
    border-radius: 20px;
    border: 2px blue solid;
    overflow: hidden;
}

.text-heading{
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-heading span{
    color: #167ED2;
    font-weight: 600;
}

.sub-text{
    font-size: 22px;
    color: grey;
    font-weight: 600;
}

.img-container img{
    width: 100%;
}


.box-gadget img{
    width: 100%;
}

.grid-gadgets{
    padding-top: 50px;
    padding-bottom: 80px;
}

.img-gadgets{
    opacity: 0.8;
    border-bottom: #fff 2px solid;
}

.img-gadgets:hover{
    opacity: 1;
    border-bottom: #0072ce 2px solid;
}

.img-gadgets img{
    width: 100%;
}


.it-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 200px;
}

.bg-gray{
    background-color: #1F1F1F;
}

.box-game{
    border-radius: 20px;
    overflow: hidden;
}

.box-game img{
    width: 100%;
}

.bg-white-gray{
    background-color: #BEBCBB ;
}

.psplus-container{
    width: 70%;
}

.psplus-container img{
    width: 100%;
}

.txt-p{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.bg-dark-blue{
    background-color: #161C3B
}

footer{
    background-color: #00439C;
    padding: 40px 0px;
}


.img-container-footer{
    width: 100px;
}

.img-container-footer img{
    width: 100%;
}

.footer-txt{
    font-weight: 600;
    color: white;
}

.menu-footer{
    color: #fff;
    font-weight: 600;
}

.menu-footer ul li{
    list-style: none;
    margin-top: 10px;
}


.logo-sony-footer{
    width: 200px;
}

.bg-blue{
    background-color: #2D64E6;
}

.graywhite{
    background-color: #D9DADC;
    color: #2E65E6;
}

.buttontxt-bl{
    color: black;
}

.log-in{
    color: #fff;
    background-color: #363636;
    padding: 8px 16px;
    border-radius: 20px;
    text-align: center;
}