.black-bar{
    background-color:black;
    display: flex;
    flex-direction: row-reverse;
}

.sony-logo{
    width: 100px;
    margin: 12px 0px;
}

.sony-logo img{
    width: 100%;
}

.nav-link .fas{
    font-size: 10px;
    color: grey;
    margin-left: 2px;
}

.nav-item{
    font-size: 20px;
    color: black;
}

.txt-item{
    color: black;
}

.search-icon .fas{
    font-size: 28px;
    color: black;
}